html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.main {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.compilation {
    margin-bottom: 100px;
}

.item {
    width: 280px;
    display: block;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 20px rgba(23, 114, 99, 0.15);
    box-shadow: 0px 0px 20px rgba(23, 114, 99, 0.15);
    border-radius: 6px;
    overflow: hidden;
}

.item__img-wrap {
    width: 100%;
    height: 220px;
    position: relative;
    background-color: #DEDEDE;
    background-repeat: no-repeat;
    background-position: center;
}

.item__container {
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-gap: 10px;
}

.item__img {
    width: 100%;
	height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.item__link {
    text-decoration: none;
}

.item__class.left {
    top: 10px;
    left: 10px;
    right: auto;
    width: 27px;
    height: 27px;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #FDFDFD;
    border: 2px solid #FFFFFF;
}

.item__class {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FDFDFD;
    background-color: #177263;
    -webkit-box-shadow: 0px 0px 15px rgba(23, 114, 99, 0.08);
    box-shadow: 0px 0px 15px rgba(23, 114, 99, 0.08);
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px 10px;
    position: absolute;
    top: 10px;
    right: 13px;
}

.item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item__icon {
    margin-right: 6px;
}

.item__name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #131313;
    text-decoration: none;
    text-align: left;
}

.item__text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #131313;
    text-align: left;
}

.compl__block .map {
    display: block;
    width: 100%;
    max-width: 630px;
    margin-right: 5px;
}

.compilation__container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 8px;
}

.compl__block {
    display: flex;
    justify-content: space-between;
}

.scroll-side {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
    width: 100%;
    max-width: 630px;
    max-height: 779px;
    padding-right: 10px;
    grid-gap: 30px;
    padding-bottom: 10px;
}
.stores__title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #131313;
    max-width: 570px;
}

.compl__title {
    text-align: center;
    max-width: none;
    margin-bottom: 50px;
}

/*.compl__block .item {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(23, 114, 99, 0.15);
    border-radius: 6px;
}*/

.scroll-side::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
    margin-left: 5px;
  }

  .scroll-side::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #177263;
  }
  
  .scroll-side::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); */
    border-radius: 10px;
    /* background-color: #EEEEEE; */
    width: 3px;
    box-shadow: none;
  }