.footer {
    display: block;
    background-color: #177263;
    margin-top: auto;
}

.footer__container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 50px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 30px;
}

.footer__row:last-child {
    margin-top: 50px;
}

.footer__col {
    max-width: 370px;
}

.footer__col:nth-child(2) {
    margin-left: 70px;
}

.footer__col:last-child {
    margin-right: 100px;
}

.footer__logo {
    text-decoration: none;
}

.footer__about {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FDFDFD;
    line-height: 19.6px;
    margin-top: 30px;
}

.footer__title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FDFDFD;
    margin-top: 30px;
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

.footer__contacts-icon {
    margin-right: 12px;
}

.footer__contacts-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #DEDEDE;
    text-decoration: none;
}

.footer__contacts-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #DEDEDE;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__nav-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #DEDEDE;
    text-decoration: none;
    margin-top: 20px;
}

.footer__copyrights {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #D2D2D2;
}

.footer__privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__privacy-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #D2D2D2;
}

.footer__privacy-link {
    margin-right: 20px;
}

.footer__created {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__created-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #D2D2D2;
}

.footer__created-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #D2D2D2;
    margin: 0 5px;
}

.footer__container {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 991px) {

    .footer__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer__col:nth-child(2){
        margin-left: 0;
    }
}
    